
.all-months-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.heat-map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.month-label {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}


.heat-map {
  display: grid;
  grid-template-columns: repeat(7, 30px);
  gap: 3px;
  padding: 5px;
}

.heat-map-cell {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

@media (min-width: 1600px) {
  .heat-map {
    display: grid;
    grid-template-columns: repeat(7, 26px);
    gap: 6px;
    padding: 10px;
  }

  .heat-map-cell {
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }
}

/* For large screens (between 1400px and 1599px) */
@media (min-width: 1400px) and (max-width: 1599px) {
  .heat-map {
    display: grid;
    grid-template-columns: repeat(7, 24px);
    gap: 4px;
    padding: 8px;
  }

  .heat-map-cell {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}

/* For medium-large screens (between 1200px and 1399px) */
@media (min-width: 1200px) and (max-width: 1399px) {
  .heat-map {
    display: grid;
    grid-template-columns: repeat(7, 20px);
    gap: 4px;
    padding: 6px;
  }

  .heat-map-cell {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .heat-map {
    display: grid;
    grid-template-columns: repeat(7, 30px);
    gap: 3px;
    padding: 5px;
  }

  .heat-map-cell {
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .heat-map {
    display: grid;
    grid-template-columns: repeat(7, 20px);
    gap: 2px;
    padding: 4px;
  }

  .heat-map-cell {
    width: 20px;
    height: 20px;
    border-radius: 50px;
  }
}

@media (max-width: 600px) {
  .heat-map {
    display: grid;
    grid-template-columns: repeat(7, 15px);
    gap: 3px;
    padding: 3px;
  }

  .heat-map-cell {
    width: 15px;
    height: 15px;
    border-radius: 50px;
  }
}


.heat-map-container-year {
  display: flex;
  flex-direction: row;
  gap:6px;
}

.month-container-year {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.month-label-year {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.heat-map-year {
  display: grid;
  grid-template-columns: repeat(4, 15px);
  grid-template-rows: repeat(7, 15px);
  grid-gap: 3px;
}


.empty-cell {
  background-color: transparent;
}

/* Fire Theme */
.fire-level-0 {
  background-color: #e1e1e1;
}

.fire-level-1 {
  background-color: #FFC266;
}

.fire-level-2 {
  background-color: #FF9933;
}

.fire-level-3 {
  background-color: #FF4D00;
}

.fire-level-4 {
  background-color: #B30000;
}


/* GitHub Theme */
.github-level-0 {
  background-color: #ebedf0;
}

.github-level-1 {
  background-color: #9be9a8;
}

.github-level-2 {
  background-color: #40c463;
}

.github-level-3 {
  background-color: #30a14e;
}

.github-level-4 {
  background-color: #216e39;
}

/* Purple Theme */
.purple-level-0 {
  background-color: #f3e5f5;
}

.purple-level-1 {
  background-color: #ce93d8;
}

.purple-level-2 {
  background-color: #ba68c8;
}

.purple-level-3 {
  background-color: #9c27b0;
}

.purple-level-4 {
  background-color: #6a1b9a;
}

/* Deep Blue Theme */
.deepblue-level-0 {
  background-color: #d1d5ea;
}

.deepblue-level-1 {
  background-color: #99aaff;
}

.deepblue-level-2 {
  background-color: #4d73ff;
}

.deepblue-level-3 {
  background-color: #1a35ff;
}

.deepblue-level-4 {
  background-color: #000B73;
}
