<div class="nk-body ui-rounder has-sidebar">
  <div class="nk-app-root">
    <div class="nk-main">
      <div class="nk-sidebar is-light nk-sidebar-fixed is-light " data-content="sidebarMenu">
        <evntaly-sidebar></evntaly-sidebar>
      </div>
      <div class="nk-wrap">
        <div class="nk-header is-light nk-header-fixed is-light">
          <evntaly-header></evntaly-header>
        </div>
        <div class="nk-content nk-content-fluid">
          <div class="container-xl wide-xl">
            <div class="nk-content-body">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
        <div class="nk-footer">
          <evntaly-footer></evntaly-footer>
        </div>
      </div>
    </div>
  </div>
</div>
