.counter {
  /* font-size: 3rem;
  font-weight: bold; */
  animation: counter-animation 0.5s ease-in-out;
}

@keyframes counter-animation {
  from {
    transform: scale(1.1);
    opacity: 0.5;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
