<div class="row justify-content-center py-5">
  <div class="col-md-7 col-lg-4">
    <div class="mb-3 text-center">
      <img src="assets/images/no-history.svg" alt="" />
    </div>
    <div class="nk-block-head text-center">
      <div class="nk-block-head-content">
        <h3 class="nk-block-title mb-2">You've got a clean slate. No events on the horizon yet!</h3>
        <p>Download our SDK and use it in your code to send events.</p>
      </div>
    </div>
    <div class="text-center">
      <a class="btn btn-primary" href="html/copywriter/templates.html">Explore Documentation</a>
    </div>
  </div>
</div>
