<div class="main-section">
  <div class="form-wrapper">
    <main class="form-side">
      <a title="Logo">
        <img src="../../../../assets/images/logo-no-txt.png" alt="Laplace Logo" class="logo">
      </a>
      <form class="my-form">
        <div class="form-welcome-row mt-3">
          <h1>Forget your password</h1>
          <h2>Forget your password? Enter your email and we'll send you an email to reset.</h2>
        </div>
        <div *ngIf="showSuccess" class="alert alert-success alert-icon">
          <em class="icon ni ni-check-circle"></em> <strong>Reset Password Email Sent Successfully</strong>. Check your email to reset your password.
        </div>
        <div *ngIf="showError" class="alert alert-danger alert-icon">
          <em class="icon ni ni-cross-circle"></em> <strong>{{ errorMessage }}</strong>.
        </div>
        <div class="text-field">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" autocomplete="off" placeholder="you@example.com" [(ngModel)]="email" required>
          <div class="error-message">Email in incorrect format</div>
        </div>
        <button class="my-form__button" type="submit" (click)="sendRequestPasswordReset()">
          <span>
            <span *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Get the reset email
          </span>
        </button>

      </form>
    </main>
    <aside class="info-side">
    </aside>
  </div>

</div>
