<div class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="user-avatar md text-primary bg-primary-dim mb-3" style="background-color: #a9aedc !important;">
          <!-- <em style="font-size: 27px;" class="icon ni ni-todo-fill"></em> -->
          <em style="font-size: 27px;" class="icon ni ni-b-si"></em>
        </div>
        <h4>Congrats! You're all set 🎉</h4>
        <p>Get started by sending your first event and explore the possibilities!</p>

        <ul class="row gx-12 mt-4">
          <li class="col-12">
            <button class="btn btn-primary btn-block" data-bs-dismiss="modal" (click)="next()">
              Send Event
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
