<div class="container-xl wide-xl">
  <div class="nk-footer-wrap">
    <div class="nk-footer-copyright"> &copy; {{ currentYear }} Evntaly
        <!-- <span style="margin: 0 8px;">•</span><a href="#" (click)="openRoadmapModal(); $event.preventDefault()" style="cursor: pointer;">Roadmap</a>
        <span style="margin: 0 8px;">•</span><a href="#" target="_blank">Report a bug</a>
        <span style="margin: 0 8px;">•</span><a href="https://www.linkedin.com/in/alameer-ashraf/" target="_blank">LinkedIn</a>
        <span style="margin: 0 8px;">•</span><a href="https://github.com/alameer-ashraf" target="_blank">GitHub</a>
        <span style="margin: 0 8px;">•</span><a href="https://www.instagram.com/alameer_ashraf/" target="_blank">Instagram</a>
        <span style="margin: 0 8px;">•</span><a href="https://www.facebook.com/alameer.ashraf" target="_blank">Facebook</a>
        <span style="margin: 0 8px;">•</span><a href="https://www.twitter.com/alameer_ashraf" target="_blank">Twitter</a>
        <span style="margin: 0 8px;">•</span><a href="https://www.youtube.com/channel/UC-9-kyTWxE2x-iXd6X5HqP" target="_blank">YouTube</a> -->
    </div>
  </div>
</div>
