<div class="main-section">
  <div class="form-wrapper">
    <main class="form-side">
      <a title="Logo">
        <img src="../../../../assets/images/logo-no-txt.png" alt="Laplace Logo" class="logo">
      </a>
      <form class="my-form">
        <div class="form-welcome-row mt-3">
          <h1>Reset your password</h1>
          <h2>Just type it twice and try not to forget it again 😁</h2>
        </div>
        <div *ngIf="showSuccess" class="alert alert-success alert-icon">
          <em class="icon ni ni-check-circle"></em> <strong>Your password has been successfully reset</strong>, <a routerLink="account/signin">Redierct to login</a>
        </div>
        <div *ngIf="showError" class="alert alert-danger alert-icon">
          <em class="icon ni ni-cross-circle"></em> <strong>{{ errorMessage }}</strong>.
        </div>
        <div class="text-field">
          <label for="password_1">New Password</label>
          <input type="password" id="password_1" name="password_1" autocomplete="off" placeholder="New Password" required [(ngModel)] = "password">
        </div>
        <div class="text-field">
          <label for="password_2">Confirm Password</label>
          <input type="password" id="password_2" name="password_2" autocomplete="off" placeholder="Confirm Password" required [(ngModel)] = "confirm_password">
        </div>
        <div *ngIf="checkPasswords()" class="error-message">Password didn't match</div>

        <button class="my-form__button" (click)="resetPassword()" [ngClass]="{ 'invalid-form' : !checkPasswords() }">
          <span>
            <span *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Reset Password
          </span>
        </button>

      </form>
    </main>
    <aside class="info-side">
    </aside>
  </div>

</div>
