<div class="card clickable-card placeholder-glow">
  <div class="card-inner">
    <div class="d-flex position-relative">
      <div class="user-avatar placeholder" [ngStyle]="{ 'background-color': 'rgb(163, 163, 163)' }">
      </div>
      <div class="ms-4 flex-grow-1">
        <p class="placeholder-glow" style="margin-bottom: 3px;">
          <span class="placeholder col-4" style="border-radius: 10px; background-color: rgb(222, 222, 222);"></span>
        </p>
        <p class="placeholder-glow" style="margin-bottom: 3px;">
          <span class="placeholder col-10" style="border-radius: 10px; background-color: rgb(222, 222, 222);"></span>
        </p>
        <p class="card-text placeholder-glow">
          <span class="placeholder col-2" style="border-radius: 8px; background-color: rgb(222, 222, 222);"></span>
          &nbsp;
          <span class="placeholder col-2 "
            style="border-radius: 8px; background-color: rgb(222, 222, 222);"></span>&nbsp;
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card clickable-card placeholder-glow">
  <div class="card-inner">
    <div class="d-flex position-relative">
      <div class="user-avatar placeholder" [ngStyle]="{ 'background-color': 'rgb(163, 163, 163)' }">
      </div>
      <div class="ms-4 flex-grow-1">
        <p class="placeholder-glow" style="margin-bottom: 3px;">
          <span class="placeholder col-4" style="border-radius: 10px; background-color: rgb(222, 222, 222);"></span>
        </p>
        <p class="placeholder-glow" style="margin-bottom: 3px;">
          <span class="placeholder col-10" style="border-radius: 10px; background-color: rgb(222, 222, 222);"></span>
        </p>
        <p class="card-text placeholder-glow">
          <span class="placeholder col-2" style="border-radius: 8px; background-color: rgb(222, 222, 222);"></span>
          &nbsp;
          <span class="placeholder col-2 "
            style="border-radius: 8px; background-color: rgb(222, 222, 222);"></span>&nbsp;
        </p>
      </div>
    </div>
  </div>
</div>
